body {
	margin: 0;	
	height: 100%;
	font-family: helvetica neue, arial;
	overflow: hidden;
	background: #dfdfdf;
}

#bookmarks {
	margin: 0;
	padding: 8px 8px 0 8px;
	width: 98%;	
	white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
    overflow: hidden;
	min-height: 26px;
}

#bookmarks li {
	display: inline;
	margin: 0;
}

#bookmarks a {
	display: inline;
	color: #000;
	text-decoration: none;
	padding: 4px 8px;
	margin-bottom: 1px;
}

#bookmarks a:hover {
	border-bottom: 4px solid #fff;
}

#bookmarks img {
	border-radius: 1px;
	margin-right: 4px;
	vertical-align: text-bottom;
}

iframe {
	width: 100%;
	height: 1000px;
	border: 0;
	border-style: none;
}